form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
}

input, button {
  padding: 10px;
  font-size: 1.6rem;
}

.error {
  color: red;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 5px;
}

h1 {
  text-align: center;
  color: #56a5eb;
  font-size: 3.6rem;
  margin-bottom: 2rem;
}

a.btn {
  margin-top: 10px;
}
